extends ./../layouts/main.pug

block variables
    - const title = "LevelUp";

block content
    include ./../sections/header.pug
    include ./../sections/composition-product.pug
    include ./../sections/reviews.pug
    include ./../sections/promo.pug
    include ./../sections/orderform.pug

    