.composition-product
    h2.title Состав продукта
    .container 
        .composition-product__row
            .composition-product__card
                .card 
                    img(src="./img/prod/prod.png", alt="prod", width="50")
                    h4.card__title LevelUp
                .card 
                    img(src="./img/prod/prod.png", alt="prod", width="50")
                    h4.card__title LevelUp
                .card 
                    img(src="./img/prod/prod.png", alt="prod", width="50")
                    h4.card__title LevelUp                         
        .composition-product__img
            img(src="./img/prod/prod.png", alt="prod", width="150")
        .composition-product__row
            .composition-product__card
                .card 
                    img(src="./img/prod/prod.png", alt="prod", width="50")
                    h4.card__title LevelUp
                .card 
                    img(src="./img/prod/prod.png", alt="prod", width="50")
                    h4.card__title LevelUp
                .card 
                    img(src="./img/prod/prod.png", alt="prod", width="50")
                    h4.card__title LevelUp
                    
    a(href="#order").button Заказать                 
                     
