 
header.header#header 
    .container
        h1.headet__title LevelUp
        .header__content
            .header__img 
                img(src="./img/prod/prod.png", alt="prod", width="200")
            .header__list
                ul 
                    li Lorem ipsum dolor sit, amet consectetur 
                    li Adipisicing elit. Exercitationem officia aut 
                    li Laudantium minima iste sed, reprehenderit 

                    
                a(href="#order").button Заказать 