
.promo
    h2.title Информация о продукте
    .container      
        .promo__content
            .promo__info
                .promo__img 
                    img(src="./img/prod/doctor.png", alt="prod", width="200")

                .promo__text 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo ratione dignissimos quasi iusto deserunt commodi labore veniam nihil voluptas! Assumenda natus, dolor ut neque officia voluptatibus illo consequuntur cum eius!
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eligendi velit pariatur id voluptas maxime fugiat, nostrum est asperiores ea tempora, similique ad? Pariatur tempore, assumenda dolores obcaecati perferendis itaque?

            .promo__list
                ul 
                    li Lorem ipsum dolor sit, amet consectetur 
                    li Adipisicing elit. Exercitationem officia aut 
                    li Laudantium minima iste sed, reprehenderit 

                    
                a(href="#order").button Заказать  